target/
project/project
project/target
**.class
.bloop/
.metals/
.idea/
.DS_Store
out
.bsp/

.vscode/
Pipfile
Pipfile.lock
*.csv
tenet-data/

src/main/resources/application.conf
kmeans_data.txt
query.mongo

.sbtopts